# Week 18 Data Analysis Challenge
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Tips/tips.csv

Challenge Questions:

1.    Delete the Unnamed 0 column
2.    Plot the total_bill column histogram
3.    Create a scatter plot presenting the relationship between total_bill and tip
4.    Create one image with the relationship of total_bill, tip and size.
5.    Present the relationship between days and total_bill value
6.    Create a scatter plot with the day as the y-axis and tip as the x-axis, differ the dots by sex
7.    Create a box plot presenting the total_bill per day differentiation the time (Dinner or Lunch)
8.    Create two histograms of the tip value based for Dinner and Lunch. They must be side by side.
9.    Create two scatterplots graphs, one for Male and another for Female, presenting the total_bill value and tip relationship, differing by smoker or no smoker

In [1]:
import pandas as pd
import matplotlib.pyplot as  plt
import seaborn as sns

print(f'Pandas version {pd.__version__}')
print(f'Seaborn version {sns.__version__}')

Pandas version 2.0.1
Seaborn version 0.12.2

In [2]:
path = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Tips/tips.csv"
df = pd.read_csv(path)

In [3]:
df

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1       10.34  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [4]:
# 1. Delete the Unnamed: 0 Column
df.drop(["Unnamed: 0"], axis=1, inplace=True)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# 2. Plot the total_bill column histogram
sns.histplot(
    df,
    x='total_bill',
    bins=50
)

plt.show()

In [ ]:
# 3. Create a scatter plot presenting the relationship between total_bill and tip.
sns.scatterplot(
    df,
    x='total_bill',
    y='tip'
)

plt.show()

In [ ]:
# 4. Create one image with the relationship of total_bill, tip and size.
sns.scatterplot(
    df,
    x='total_bill',
    y='tip',
    hue='size',
    palette='flare'
)

plt.show()

In [ ]:
# 5. Present the relationship between days and total_bill value.
sns.boxplot(
    df,
    x='day',
    y='total_bill',
    width=0.5
)

plt.show()

In [ ]:
# 6. Create a scatter plot with the day as the y-axis and tip as the x-axis, differ the dots by sex.
sns.scatterplot(
    df,
    x='tip',
    y='day',
    hue='sex'
)
plt.show()

In [ ]:
# 7. Create a box plot presenting the total_bill per day differentiation the time (Dinner or Lunch).
sns.boxplot(
    df,
    x='day',
    y='total_bill',
    hue='time',
    palette=['m', 'g']
)
plt.show()

In [ ]:
# 8. Create two histograms of the tip value based for Dinner and Lunch. They must be side by side.
grid = sns.FacetGrid(df, col='time')
grid.map(
    sns.histplot,
    'tip'
)
plt.show()

In [ ]:
# 9. Create two scatterplots graphs, one for Male and another for Female, presenting the total_bill value and tip relationship, differing by smoker or no smoker.
grid = sns.FacetGrid(df, col='sex', hue='smoker')
grid.map(
    sns.scatterplot,
    'total_bill',
    'tip',
    alpha=0.7
)
grid.add_legend()
plt.show()